# Django Configuration
SECRET_KEY=django-insecure-s9&h0#$3z#5r8kh2@!6p#nv!7#fk@2@&&_59zuubjil5bs9ch)
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration (supports django.db.backends.mysql, django.db.backends.sqlite3, django.db.backends.postgresql)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=mydatabase
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Frontend allowed URLs (comma-separated list for CORS and CSRF configurations)
FRONTEND_URLS=http://localhost:5173
